@import '~milligram/src/milligram.sass';

body {
  margin: 0;
}

textarea {
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .01em;
  line-height: 1.6;
}

.h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}
.h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}